.App {
  padding: 1.5rem 7rem;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.65);
  /* width: 100%; */
}

hr{
  background-color: rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0;
  height: 0.5px;
  border: none;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.half-width{
  width: 48%;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb{
  margin-bottom: 1rem;
}


@media only screen and (max-width: 850px) {
    .App{
      padding: 1rem 1.5rem;
    }
}